<p>
  order-list works!
</p>
<button mat-raised-button>test</button>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-tab-group>
  <mat-tab label="Tab 1">
    Content 1
  </mat-tab>
  <mat-tab label="Tab 2">Content 2</mat-tab>
</mat-tab-group>

  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<!--
<mat-form-field>

  <input matInput [matDatepicker]="picker" placeholder="Choose a date">

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

  <mat-datepicker #picker></mat-datepicker>

</mat-form-field>
-->
